// sizes
$width__xxl: 1250px;
$width__xl: 991px;
$width__lg: 767px;
$width__md: 575px;
$width__sm: 424px;
$width__xs: 320px;
$bp__xxs: 100%;

//breakpoins
$bp__xxl: 1440px;
$bp__xl: 1200px;
$bp__lg: 992px;
$bp__md: 768px;
$bp__sm: 576px;
$bp__xs: 425px;
$bp__xxs: 320px;

// bg colors
$header__bg: #c2ebf5;
$rules__bg: #f4e76e;
$features__bg: #7353ba;
$buy__wrapper__bg: #fafafa;
$buy__bg: #C2EBF566;
$footer__bg: #3e3466;

// other colors
$primary__color: #2D393E;
$primary__color_lighter: #4F6D7A;
$primary__color_inverse: #FFFFFF;
$benefits__left__text__color: #C2EBF5;
$benefits__right__text__color: #FEFEFE;
$secondary__color: #7A67C8;
$secondary__color_inverse: #FAD467;
$alert__color: #FE646F;
$btn__buy__color: #FFD600;
$btn__text__color: #222222;
$btn__text__color_inverse: #F3FCF0;