.buy {
    position: relative;
    padding-top: 100px;
    padding-bottom: 80px;
    border-radius: 50px;
    background: $buy__bg;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    @media (max-width: $bp__sm) {
        border-radius: 25px;
        padding-top: 0px;
        padding-bottom: 40px;
    }

	@media (max-width: $bp__lg) {
        max-width: 100%;
		flex-direction: column;
        padding-top: 0px;
	}

    &__wrapper {
        background: $buy__wrapper__bg;
        position: relative;
        padding-top: 100px;
        padding-bottom: 180px;
        @media (max-width: $bp__sm) {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .img {
        position: relative;
        bottom: 100px;
        width: 700px;
        height: 700px;
        max-width: 100%;
        background: url("../img/buy_dobble.png");
        @include bg("contain", "center");
        z-index: 20;

        @media (max-width: $bp__lg) {
            bottom: 50px;
        }

        @media (max-width: $bp__sm) {
            height: 400px;
        }
        @media (max-width: $bp__xs) {
            background-size: cover;
            height: 360px;
        }
    }

    &__block {
        position: relative;
        width: 500px;
        max-width: 100%;
        z-index: 998;
        @media (max-width: $bp__lg) {
            width: 450px;
        }
        
        h2 {
            color: $secondary__color;
        }

        p {
            color: $primary__color_lighter;
            font-size: 14px;
            font-weight: 500;
            line-height: 150%;
            margin-bottom: 50px;
            width: 400px;
            max-width: 100%;
        }
    }

    &__icons {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
        z-index: 998;
        @media (max-width: $bp__sm) {
            flex-direction: column;
            align-items: center;
        }
        
        .icon {

            &__container {
                cursor: pointer;
                position: relative;
                width: 181px;
                height: 40px;
                background: linear-gradient(0deg, rgba(236, 245, 251, 0.3), rgba(236, 245, 251, 0.3)), #FFFFFF;
                border: 0.7px solid rgba(194, 235, 245, 0.8);
                box-sizing: border-box;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
                border-radius: 24px;
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                @media (max-width: $bp__sm) {
                    width: 100%;
                }
                &:nth-child(odd) {
                    margin-right: 30px;
                    @media (max-width: $bp__sm) {
                        margin-right: 0px;
                    }
                }

                .--svg__click {
                    display: none;
                    position: absolute;
                    right: 10px;
                    bottom: -15px;
                    width: 30px;
                    height: 30px;
                    cursor: pointer;

                    @include bg("contain", "center");
                }

                &.icon__active {
                    background: linear-gradient(0deg, #FFEF60, #FFEF60), #FFFFFF;
                    .--svg__click {
                        display: block;
                    }
                }

                &:hover {
                    background: linear-gradient(0deg, #FFEF60, #FFEF60), #FFFFFF;
                    .--svg__click {
                        display: block;
                    }
                }
                
            }

            width: 100px;
            height: 27px;
            @include bg("contain", "center");
        }
    }

    &__alert {
        width: 475px;
        height: 192px;
        position: relative;
        z-index: 998;
        right: 20px;
        background: url("../img/alert_bg.png");
        @include bg("cover");

        @media (max-width: $bp__sm) {
            right: 0;
            max-width: 100%;
            height: auto;
            background: #fff;
            padding: 5px;
            border-radius: 10px;
        }

        .--svg__original {
            position: absolute;
            left: 0px;
            top: -20px;
            width: 70px;
            height: 92px;
            @include bg("contain", "center");

            @media (max-width: $bp__sm) {
                display: none;
            }
        }

        h3 {
            color: $alert__color;
            text-transform: uppercase;
            font-size: 17px;
            margin-bottom: 10px;
            position: relative;
            left: 85px;
            top: 35px;
            @media (max-width: $bp__sm) {
                left: 0;
                top: 0;
            }
        }

        p {
            width: 300px;
            max-width: 100%;
            position: relative;
            left: 85px;
            top: 35px;
            @media (max-width: $bp__sm) {
                width: 100%;
                left: 0;
                top: 0;
                margin-bottom: 0;
            }
        }
    }
}