.footer {
    &__wrapper {
        background: $footer__bg;
        padding-top: 60px;
        padding-bottom: 25px;
        
        .nav {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-bottom: 43px;
            display: flex;

            @media (max-width: $bp__lg) {
                flex-direction: column;
                justify-content: center;
                text-align: center;
            }
            .logo__container {
                width: 77px;
                height: 77px;
                background: #fff;
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: center;

                @media (max-width: $bp__lg) {
                    margin-bottom: 20px;
                }
            }

            .nav__logo {
                background: url("../img/logo.png");
                width: 53px;
                height: 53px;
                @include bg("contain", "center");
            }

            &__logo {
                width: 120px;
                height: 81px;
            }

            &__list {
                display: flex;
                color: #fff;
                text-transform: none;

                @media (max-width: $bp__lg) {
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    margin-bottom: 20px;
                }
                li {
                    font-size: 14px;
                    color: #fff;
                    margin: 0 20px;
                    
                    &:hover {
                        text-decoration: underline;
                    }
                    @media (max-width: $bp__lg) {
                        margin-bottom: 10px;
                    }
                }
            }

            .btn {
                
                @media (max-width: $bp__lg) {
                    margin-right: 0;
                }
            }
        }

        &>a {
            display: block;
            font-style: normal;
            font-weight: 300;
            font-size: 14.4px;
            line-height: 22px;
            text-align: center;
            color: #8A8A8A;


            span {
                display: block;
                text-align: center;
                color: #a990ff;
            }
        }

        .juridical {
            margin: auto;
            color: #fff;
            width: fit-content;
            margin-bottom: 20px;
            font-size: 16px;
            &>p {
                text-align: center;
                margin-bottom: 5px;
            }
        }
    }
}