*,
*::before,
*::after {
	box-sizing: border-box;
}

.flex {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.--just-space {
	justify-content: space-between;
}

.--just-center {
	justify-content: center;
}

.--just-end {
	justify-content: flex-end;
}

.--align-str {
	align-items: stretch;
}

.--align-center {
	align-items: center;
}

.--align-end {
	align-items: flex-end;
}

.--dir-col {
	flex-direction: column;
}

html {
	font-size: 16px;
}

html,
body {
	min-height: 100%;
	position: relative;
	font-family: 'Dosis';
}

body {
	font-size: 1rem;
}


ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.wrapper {
	width: 100%;
	overflow-x: hidden;
}

.container {
	width: $width__xxl;
	margin: auto;
	font-family: 'Dosis';

	@media (max-width: $bp__xl) {
		width: $width__xl;
	}

	@media (max-width: $bp__lg) {
		width: $width__lg;
	}
	
	@media (max-width: $bp__md) {
		width: $width__md;
	}
	
	@media (max-width: $bp__sm) {
		width: $width__xs;
		padding-left: 5px;
		padding-right: 5px;
	}
	
	@media (max-width: $bp__xs) {
		width: $width__xs;
	}
}

.btn {
	width: 160px;
	height: 38px;
	background: #FFD600;
	border: 1.5px solid #FFD600;
	box-sizing: border-box;
	border-radius: 24px;
	border: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.btn-buy {
	color: $btn__text__color;
	background: $btn__buy__color;
	text-transform: none;
	.icon {
		width: 17px;
		height: 16px;
		margin-right: 10px;	
		@include bg('contain', 'center');
	}
	transition: .5s ease-in-out;

	&:hover {
		background: $btn__buy__color_darker;
	}
}

.pUnderTitle {
	color: $primary__color_lighter;
	font-size: 17.5px;
	line-height: 150%;
	font-weight: 300;
}

h1 {
	font-family: 'Luckiest_Guy_cyr';
	color: #000;
	font-size: 54px;
	letter-spacing: 0.05em;
	margin-bottom: 16px;
}

h2 {
	font-family: 'Luckiest_Guy_cyr';
	color: #2D393E;
	font-size: 39px;
	line-height: 130%;
	margin-bottom: 5px;
	letter-spacing: 0.05em;
	@media (max-width: $bp__sm) {
		font-size: 24px;
	}
}