.questions {
    display: flex;
    @media (max-width: $bp__xl) {
        justify-content: center;
    }
    @media (max-width: $bp__lg) {
        flex-direction: column;
        justify-content: center;
    }
    &__wrapper {
        background: $buy__wrapper__bg;
        padding-top: 57px;
        padding-bottom: 120px;

        h2 {
            text-align: center;
        }

        p {
            text-align: center;
            margin-bottom: 70px;
        }
    }

    &>div {
        max-width: 50%;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;

        @media (max-width: $bp__xl) {
            max-width: 400px;
        }
        @media (max-width: $bp__lg) {
            max-width: 100%;
        }
        &:first-child {
            margin-right: 20px;
            @media (max-width: $bp__lg) {
                margin-right: 0;
            }
        }
    }

    .question {
        max-width: 100%;
        overflow: hidden;

        &__title {
            position: relative;
            width: 600px;
            max-width: 100%;
            height: 70px;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            background: #FFFFFF;
            padding: 15px;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 130%;
            color: #0D2E54;
            cursor: pointer;
            z-index: 2;
            margin-bottom: 10px;
            transition: color .5s ease-in-out, background .5s ease-in-out;
            border: 1.2px solid #DBD8E3;
            box-sizing: border-box;
            box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.5);
            border-radius: 30px;

            @media (max-width: $bp__lg) {
                width: 100%;
            }
            @media (max-width: $bp__xs) {
                height: auto;
            }

            &>span {
                max-width: 470px;
                margin-left: 15px;

                @media (max-width: $bp__xl) {
                    max-width: 280px;
                }
                @media (max-width: $bp__lg) {
                    max-width: calc(100% - 100px);
                }
                @media (max-width: $bp__xs) {
                    max-width: calc(100% - 40px);
                }
            }

            &:after {
                content: '+';
                position: absolute;
                right: 60px;
                font-size: 36px;
                font-weight: 300;
                transition: transform .5s ease-in-out, color .5s ease-in-out;
                color: #BB9DFF;
                @media (max-width: $bp__xs) {
                    right: 20px;
                }
            }

            &.active {
                background: #BB9DFF;
                color: #FFFFFF;

                &:after {
                    transform: rotate(45deg);
                    color: #fff;
                }
            }
        }

        &__text {
            width: 600px;
            max-width: 100%;
            position: relative;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            -ms-align-items: center;
            align-items: center;
            justify-content: center;
            bottom: 15px;
            z-index: 1;

            @media (max-width: $bp__lg) {
                width: 100%;
            }

            b {
                font-weight: bold;
            }

            ul {
                list-style: circle;
            }

            div {
                max-width: 100%;
                padding: 40px 25px 25px 25px;
                background: #FFFFFF;
                border: 1.3px solid #BB9DFF;
                box-sizing: border-box;
                border-radius: 0px 0px 20px 20px;
                font-style: normal;
                font-weight: normal;
                font-size: 14.4px;
                line-height: 130%;
                position: relative;
                bottom: 30px;

                p {
                    margin-bottom: 10px;
                    a {
                        text-decoration: underline;
                        color: blue;
                    }
                }
            }
        }
    }
}