
.reviews {
    overflow: visible;
    position: relative;
    z-index: 1000;

    &__wrapper {
        padding-top: 140px;
        padding-bottom: 100px;
        position: relative;
        background: $buy__wrapper__bg;
        overflow: hidden;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 265px;
            width: 435px;
            height: 536px;
            // background-image: url("../images/reviews/left_vector.png");
        }
        
        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 265px;
            width: 435px;
            height: 536px;
            // background-image: url("../images/reviews/right_vector.png");
        }
    }

    h2 {
        text-align: center;
    }

    p {
        max-width: 400px;
        margin: auto;
        text-align: center;
        margin-bottom: 60px;
        font-size: 17px;
        color: #5E5C62AB;
    }
}


.slick {
    &__elem {
        width: 420px;
        height: 350px;
        padding: 0 10px;
        box-sizing: border-box;

        div {
            width: 100%;
            height: 100%;
            background: #FFFFFF;
            border: 1.2px solid rgba(129, 153, 223, 0.25);
            box-sizing: border-box;
            border-radius: 30px;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            -ms-align-items: center;
            align-items: center;
            justify-content: center;

            img {
                max-width: calc(100% - 20px);
                max-height: calc(100% - 20px);
            }
        }
    }

    &-prev {
        width: 10px;
        height: 26px;
        position: absolute;
        left: -30px;
        top: 167px;
        border: 0;
        color: transparent;
        background-color: transparent;
        background-image: url("../img/arrow_left.svg");
        -webkit-background-size: cover;
        background-size: cover;
        cursor: pointer;
    }

    &-next {
        width: 10px;
        height: 26px;
        position: absolute;
        right: -30px;
        top: 167px;
        border: 0;
        color: transparent;
        background-color: transparent;
        background-image: url("../img/arrow_right.svg");
        -webkit-background-size: cover;
        background-size: cover;
        cursor: pointer;
    }

    &-dots {   
        padding-top: 30px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -ms-align-items: center;
        align-items: center;
        justify-content: center;
        margin: auto;

        li {
            display: block;
            color: transparent;
            background-color: transparent;
            padding: 0;
            cursor: pointer;
            margin: 0 5px;
            width: 15px;
            height: 15px;
            border-radius: 100px;

            &>* {
                display: block;
                color: transparent;
                background-color: transparent;
                border: 1px solid #000;
                width: 15px;
                height: 15px;
                border-radius: 100px;
            }

            &.slick-active {
                background-color: #000;
            }
        }
    }
}
