.rules {
    position: relative;
    &__wrapper {
        overflow: hidden;
        background: $rules__bg;
        position: relative;
        

        .videoPopup {
            position: fixed;
            top: 0;
            background: #f4e76ede;
            display: block;
            width: 100%;
            height: 100vh;
            z-index:9999;
            padding-top: 150px;
            box-sizing: border-box;
            cursor: pointer;

            &.hidden{ 
                display: none;
            }

            &__close {
                font-family: sans-serif;
                position: absolute;
                width: 50px;
                height: 50px;
                right: 50px;
                top: 50px;
                display: flex;  
                align-items: center;
                justify-content: center;
                font-size: 36px;
                background: #fff;
                border-radius: 50px;
                @media (max-width: $bp__md) {
                    right: 10px;
                }
            }

            &__title {
                width: fit-content;
                margin: auto;
                h2 {
                    display: inline-block;
                    text-align: center;
                    margin-bottom: 15px;
                    cursor: default;
                }
            }


            &__block {
                width: 767px;
                max-width: calc(100% - 20px);
                cursor: default;
                padding-bottom: 10px;
                background: #FFFFFF;
                border-radius: 12px;
                padding-top: 10px;

                video {
                    display: block;
                    width: calc(100% - 20px);
                    margin: auto;
                    max-height: 500px;
                }
            }
        }
        .trees {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 480px;
            background-image: url("../img/trees.png");
            @include bg("cover", "center");
            z-index: 1;
        }

        .--svg__circle {
            position: absolute;
            width: 366px;
            height: 349px;
            @include bg("contain", "center");
            z-index: 1;
        }
    
        .circle1 {
            left: -270px;
            top: 150px;
        }
    
        .circle2 {
            right: -150px;
            bottom: 80px;
        }
    }

    &__block {
        padding-top: 142px;
        margin-bottom: 90px;

        @media (max-width: $bp__sm) {
            padding-top: 50px;
            margin-bottom: 50px;
        }
        
        h2 {
            text-align: center;
        }

        p {
            font-size: 17px;
            text-align: center;
            font-weight: 500;
            line-height: 150%;
            letter-spacing: 0.5px;
            color: #3B5561;
        }
    }

    &__icons {
        position: relative;
        z-index: 900;
        display: flex;
        flex-wrap: wrap;

        @media (max-width: $bp__xl) {
            flex-direction: column;
            align-items: center;
        }
        @media (max-width: $bp__sm) {
            padding-left: 10px;
            padding-right: 10px;
        }
        &>div {
            flex-grow: 0.5;
            height: 150px;
            margin-bottom: 120px;
            @include bg("contain", "center");
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 22px;
            
            @media (max-width: $bp__sm) {
                flex-direction: column;
                height: auto;
                text-align: center;
                margin-bottom: 60px;
            }


            span {
                width: 400px;
            }

            .icon__container {
                position: relative;
                @media (max-width: $bp__sm) {
                    width: 90px;
                    margin: auto;
                    height: 120px;
                }
                .icon {
                    position: absolute;
                    left: -120px;
                    top: -75px;
                    @include bg("contain", "center");
                    @media (max-width: $bp__sm) {
                        left: 0;
                        top: 0;
                    }
                }

                .--svg__dobbly1 {
                    width: 96px;
                    height: 108px;
                }
        
                .--svg__dice {
                    width: 92px;
                    height: 92px;
                }
        
                .--svg__play {
                    width: 120px;
                    height: 120px;
                    left: -132px;
                    top: -85px;
                    @media (max-width: $bp__sm) {
                        left: -10px;
                        top: -10px;
                    }
                }
        
                .--svg__rules_ellipse {
                    width: 91.72px;
                    height: 97.19px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 40px;
                }
        
                .--svg__rules_ellipse_border {
                    width: 91.72px;
                    height: 97.19px;
                    left: -120px;
                    top: -65px;
                    @media (max-width: $bp__sm) {
                        left: 0px;
                        top: 10px;
                    }
                }

                .--svg__stars {
                    width: 99.86px;
                    height: 66.64px;
                    left: -150px;
                    top: -100px;
                    @media (max-width: $bp__sm) {
                        left: -35px;
                        top: -27px;
                    }
                }

                .--svg__highlight1 {
                    width: 50px;
                    height: 50px;
                    left: -150px;
                    top: -100px;
                    @media (max-width: $bp__sm) {
                        left: -35px;
                        top: -20px;
                    }
                }

                .--svg__highlight2 {
                    width: 50px;
                    height: 50px;
                    left: -148px;
                    top: -96px;
                    @media (max-width: $bp__sm) {
                        left: -20px;
                        top: -20px;
                    }
                }

                .--svg__play_ellipse {
                    width: 83.73px;
                    height: 88.72px;
                }

                .--svg__play_ellipse_border {
                    width: 95px;
                    height: 95px;
                    left: -120px;
                    top: -76px;
                    @media (max-width: $bp__sm) {
                        left: 0;
                        top: 10px;
                    }
                }
            }
    
            
            
        }
        
        .--svg__rules_text1 {
            width: 559px;
            height: 138px;

            @media (max-width: $bp__md) {
                width: 459px;
                height: 100px;
            }
            @media (max-width: $bp__sm) {
                width: 100%;
                background: none;
                height: auto;
            }

            span {
                width: 425px;

                @media (max-width: $bp__md) {
                    width: 310px;
                }
                @media (max-width: $bp__sm) {
                    width: 100%;
                }
            }

            .icon__container {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    left: -120px;
                    top: -70px;
                    width: 88px;
                    height: 88px;
                    background: #C2EBF5;
                    border-radius: 50px;
                    @media (max-width: $bp__sm) {
                        left: 0px;
                        top: 0px;
                    }
                }
            }
        }

        .--svg__rules_text2 {
            width: 559px;
            height: 150px;

            @media (max-width: $bp__md) {
                width: 490px;
                height: 120px;
            }
            @media (max-width: $bp__sm) {
                width: 100%;
                background: none;
                height: auto;
            }

            .icon__container {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    left: -120px;
                    top: -70px;
                    width: 88px;
                    height: 88px;
                    background: #C2EBF5;
                    border-radius: 50px;
                    @media (max-width: $bp__sm) {
                        left: 0px;
                        top: 0px;
                    }
                }
            }

            span {
                @media (max-width: $bp__md) {
                    width: 310px;
                }
                @media (max-width: $bp__sm) {
                    width: 100%;
                }
                font-size: 17px;
                b {
                    font-size: 22px;
                    margin-bottom: 10px;
                }
                p {
                    width: 419px;
                    @media (max-width: $bp__md) {
                        width: 310px;
                    }
                    @media (max-width: $bp__sm) {
                        width: 100%;
                    }
                }
            }
        }

        

        .--svg__rules_text3 {
            cursor: pointer;
            width: 535px;
            height: 154px;
            

            @media (max-width: $bp__md) {
                width: 490px;
                height: 120px;
            }
            @media (max-width: $bp__sm) {
                width: 100%;
                background: none;
                height: auto;
            }

            span {
                width: 330px;
                text-decoration: underline;
                text-decoration-style: dotted;
                @media (max-width: $bp__md) {
                    width: 310px;
                }
                @media (max-width: $bp__sm) {
                    width: 100%;
                }
            }
        }

        .--svg__rules_text4 {
            width: 535px;
            height: 154px;

            @media (max-width: $bp__md) {
                width: 490px;
                height: 120px;
            }
            @media (max-width: $bp__sm) {
                width: 100%;
                background: none;
                height: auto;
            }

            span {
                width: 425px;

                @media (max-width: $bp__md) {
                    width: 310px;
                }
                @media (max-width: $bp__sm) {
                    width: 100%;
                }
            }
        }
    }

    &__bottom {
        position: relative;
        height: 260px;
    }
}