.--svg__age,.--svg__age-before::before,.--svg__age-after::after{
    background-image: url("../icons/age.svg")
}

.--svg__aliexpress,.--svg__aliexpress-before::before,.--svg__aliexpress-after::after{
    background-image: url("../icons/aliexpress.svg");
}

.--svg__balloons,.--svg__balloons-before::before,.--svg__balloons-after::after{
    background-image: url("../icons/balloons.svg");
}

.--svg__benefits_arrow,.--svg__benefits_arrow-before::before,.--svg__benefits_arrow-after::after{
    background-image: url("../icons/benefits_arrow.svg");
}

.--svg__cap,.--svg__cap-before::before,.--svg__cap-after::after{
    background-image: url("../icons/cap.svg");
}

.--svg__care,.--svg__care-before::before,.--svg__care-after::after{
    background-image: url("../icons/care.svg");
}

.--svg__cart,.--svg__cart-before::before,.--svg__cart-after::after{
    background-image: url("../icons/cart.svg");
}

.--svg__circle,.--svg__circle-before::before,.--svg__circle-after::after{
    background-image: url("../icons/circle.svg");
}

.--svg__click,.--svg__click-before::before,.--svg__click-after::after{
    background-image: url("../icons/click.svg");
}

.--svg__dice,.--svg__dice-before::before,.--svg__dice-after::after{
    background-image: url("../icons/dice.svg");
}

.--svg__dobbly1,.--svg__dobbly1-before::before,.--svg__dobbly1-after::after{
    background-image: url("../icons/dobbly1.svg");
}

.--svg__dobbly2,.--svg__dobbly2-before::before,.--svg__dobbly2-after::after{
    background-image: url("../icons/dobbly2.svg");
}

.--svg__dobbly2ellipse,.--svg__dobbly2ellipse-before::before,.--svg__dobbly2ellipse-after::after{
    background-image: url("../icons/dobbly2ellipse.svg");
}

.--svg__easy,.--svg__easy-before::before,.--svg__easy-after::after{
    background-image: url("../icons/easy.svg");
}

.--svg__family,.--svg__family-before::before,.--svg__family-after::after{
    background-image: url("../icons/family.svg");
}

.--svg__features_underline1,.--svg__features_underline1-before::before,.--svg__features_underline1-after::after{
    background-image: url("../icons/features_underline1.svg");
}

.--svg__features_underline2,.--svg__features_underline2-before::before,.--svg__features_underline2-after::after{
    background-image: url("../icons/features_underline2.svg");
}

.--svg__flower,.--svg__flower-before::before,.--svg__flower-after::after{
    background-image: url("../icons/flower.svg");
}

.--svg__gift,.--svg__gift-before::before,.--svg__gift-after::after{
    background-image: url("../icons/gift.svg");
}

.--svg__girl,.--svg__girl-before::before,.--svg__girl-after::after{
    background-image: url("../icons/girl.svg");
}

.--svg__header_cloud1,.--svg__header_cloud1-before::before,.--svg__header_cloud1-after::after{
    background-image: url("../icons/header_cloud1.svg");
}

.--svg__header_cloud2,.--svg__header_cloud2-before::before,.--svg__header_cloud2-after::after{
    background-image: url("../icons/header_cloud2.svg");
}

.--svg__highlight1,.--svg__highlight1-before::before,.--svg__highlight1-after::after{
    background-image: url("../icons/highlight1.svg");
}

.--svg__highlight2,.--svg__highlight2-before::before,.--svg__highlight2-after::after{
    background-image: url("../icons/highlight2.svg");
}

.--svg__laugh,.--svg__laugh-before::before,.--svg__laugh-after::after{
    background-image: url("../icons/laugh.svg");
}

.--svg__logo,.--svg__logo-before::before,.--svg__logo-after::after{
    background-image: url("../icons/logo.svg");
}

.--svg__logo_footer,.--svg__logo_footer-before::before,.--svg__logo_footer-after::after{
    background-image: url("../icons/logo_footer.svg");
}

.--svg__original,.--svg__original-before::before,.--svg__original-after::after{
    background-image: url("../icons/original.svg");
}

.--svg__ozon,.--svg__ozon-before::before,.--svg__ozon-after::after{
    background-image: url("../icons/ozon.svg");
}

.--svg__play,.--svg__play-before::before,.--svg__play-after::after{
    background-image: url("../icons/play.svg");
}

.--svg__play_ellipse,.--svg__play_ellipse-before::before,.--svg__play_ellipse-after::after{
    background-image: url("../icons/play_ellipse.svg");
}

.--svg__play_ellipse_border,.--svg__play_ellipse_border-before::before,.--svg__play_ellipse_border-after::after{
    background-image: url("../icons/play_ellipse_border.svg");
}

.--svg__rules_ellipse,.--svg__rules_ellipse-before::before,.--svg__rules_ellipse-after::after{
    background-image: url("../icons/rules_ellipse.svg");
}

.--svg__rules_ellipse_border,.--svg__rules_ellipse_border-before::before,.--svg__rules_ellipse_border-after::after{
    background-image: url("../icons/rules_ellipse_border.svg");
}

.--svg__rules_text1,.--svg__rules_text1-before::before,.--svg__rules_text1-after::after{
    background-image: url("../icons/rules_text1.svg");
}

.--svg__rules_text2,.--svg__rules_text2-before::before,.--svg__rules_text2-after::after{
    background-image: url("../icons/rules_text2.svg");
}

.--svg__rules_text3,.--svg__rules_text3-before::before,.--svg__rules_text3-after::after{
    background-image: url("../icons/rules_text3.svg");
}

.--svg__rules_text4,.--svg__rules_text4-before::before,.--svg__rules_text4-after::after{
    background-image: url("../icons/rules_text4.svg");
}

.--svg__star,.--svg__star-before::before,.--svg__star-after::after{
    background-image: url("../icons/star.svg");
}

.--svg__stars,.--svg__stars-before::before,.--svg__stars-after::after{
    background-image: url("../icons/stars.svg");
}

.--svg__trade,.--svg__trade-before::before,.--svg__trade-after::after{
    background-image: url("../icons/trade.svg");
}

.--svg__underline,.--svg__underline-before::before,.--svg__underline-after::after{
    background-image: url("../icons/underline.svg");
}

.--svg__video,.--svg__video-before::before,.--svg__video-after::after{
    background-image: url("../icons/video.svg");
}

.--svg__wildberries,.--svg__wildberries-before::before,.--svg__wildberries-after::after{
    background-image: url("../icons/wildberries.svg");
}

.--svg__yandex,.--svg__yandex-before::before,.--svg__yandex-after::after{
    background-image: url("../icons/yandex.svg");
}

.--svg__igroved,.--svg__igroved-before::before,.--svg__igroved-after::after{
    background-image: url("../icons/igroved.png");
}

.--svg__sber,.--svg__sber-before::before,.--svg__sber-after::after{
    background-image: url("../icons/sber.svg");
}