.time {
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
	@media (max-width: $bp__lg) {
        flex-direction: column-reverse;
        justify-content: center;
	}
    &__wrapper {
        position: relative;
        padding-top: 100px;
        padding-bottom: 50px;
    }

    .img {
        width: 500px;
        max-width: 100%;
        height: 500px;
        background: url("../img/buy.png");
        @include bg("cover", "center")
    }

    &__block {
        width: 500px;
        max-width: 100%;
        @media (max-width: $bp__lg) {
            width: 100%;
        }
        
        h2 {
            width: 700px;
            max-width: 100%;
            text-align: left;
            color: $secondary__color;
        }

        p {
            width: 600px;
            max-width: 100%;
            color: #2D2E2E;
            font-size: 17px;
            font-weight: 500;
            line-height: 150%;
            margin-bottom: 50px;
        }
    }
}