.time {
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    &__wrapper {
        position: relative;
        padding-top: 200px;
        padding-bottom: 50px;
    }

    .img {
        width: 500px;
        height: 500px;
        background: url("../img/buy.png");
        @include bg("cover", "center")
    }

    &__block {
        width: 500px;
        
        h2 {
            width: 700px;
            text-align: left;
            color: $secondary__color;
        }

        p {
            width: 600px;
            color: #2D2E2E;
            font-size: 17px;
            font-weight: 500;
            line-height: 150%;
            margin-bottom: 50px;
        }
    }
}