<div class="benefits__wrapper wrapper" id="benefits">
    <div class="benefits container">
        <div class="benefits__block">
            <h2>Коротко о пользе настольных игр</h2>
            <p>Не понимаете, почему другие так любят настолки? Перечислили лишь несколько причин</p>
            <div class="icon --svg__benefits_arrow"></div>
        </div>
        <div class="benefits__content">
            <div class="benefits__left benefits__list">
                <div>
                    <h3><div class="icon --svg__flower"></div>Игры развивают</h3>
                    <span>сосредоточенность, усидчивость, словарный запас, навыки коммуникации  </span>
                </div>
                <div>
                    <h3><div class="icon --svg__flower"></div>Выручают в разных ситуациях</h3>
                    <span>например, помогут отвлечь ребёнка в дороге, или переключить его внимание в больнице</span>
                </div>
                <div>
                    <h3><div class="icon --svg__flower"></div>Заменяют смартфон</h3>
                    <span>слишком часто видите своего ребёнка с телефоном в руках? Настолки помогут сократить время, проведённое в гаджете</span>
                </div>
            </div>
            <div class="benefits__right benefits__list">
                <div>
                    <h3><div class="icon --svg__flower"></div>Помогают скоротать время </h3>
                    <span>есть несколько свободных часов? Проведите их за настолкой — время пролетит незаметно и весело</span>
                </div>
                <div>
                    <h3><div class="icon --svg__flower"></div>Идеальны для компаний</h3>
                    <span>первый раз встретились с людьми? Или знакомы сто лет? Игры отлично подойдут для любой встречи</span>
                </div>
                <div>
                    <h3><div class="icon --svg__flower"></div>Скрашивают карантин</h3>
                    <span>уже не знаете, чем заняться в условиях локдауна и повсеместных QR кодов? Настольные игры — отличное решение для длинных вечеров</span>
                </div>
            </div>
        </div>
    </div>
</div>