<div class="buy__wrapper wrapper" id="buy">
    <div class="buy container">
        <div class="img">
        </div>
        <div class="buy__block">
            <h2>Покупайте онлайн</h2>
            <p>Переходите на сайт своего любимого магазина, и заказывайте Доббль с доставкой</p>
            <div class="buy__icons">
                <a href="https://www.wildberries.ru/catalog/45045829/detail.aspx" target="_blank" class="icon__container">
                    <div class="--svg__click"></div>
                    <div class="icon --svg__wildberries"></div>
                </a>
                <a href="https://www.ozon.ru/product/nastolnaya-igra-asmodee-dobbl-klassicheskaya-ls86-160704138/" target="_blank" class="icon__container">
                    <div class="--svg__click"></div>
                    <div class="icon --svg__ozon"></div>
                </a>
                <a href="https://market.yandex.ru/offer/0s7-3PaZ3nt65BYvymPnCg" target="_blank" class="icon__container">
                    <div class="--svg__click"></div>
                    <div class="icon --svg__yandex"></div>
                </a>
                <a href="https://aliexpress.ru/item/10000334507500.html" target="_blank" class="icon__container">
                    <div class="--svg__click"></div>
                    <div class="icon --svg__aliexpress"></div>
                </a>
            </div>
            <div class="buy__alert">
                <div class="icon --svg__original"></div>
                <h3>Остерегайтесь подделок!</h3>
                <p>Мы продаём официально произведённую игру, а не подделку. А значит у нас: качественные и безвредные материалы, больше карточек в комплекте, лучше качество.</p>
            </div>
        </div>
    </div>
</div>