<div class="features__wrapper wrapper" id="features">
    <div class="icon --svg__features_underline1"></div>
    <div class="icon --svg__features_underline2"></div>
    <div class="img family"></div>
    <div class="features container">
        <div class="features__block">
            <h2>В Доббль играют миллионы</h2>
            <p>В чем особенность игры?</p>
        </div>
        <div class="features__icons">
            <div>
                <div class="icon__container">
                    <div class="icon --svg__easy"></div>
                </div>
                <h3>Простые правила</h3>
                <span>Чтобы разобраться в игре вам хватит одной минуты</span>
            </div>
            <div>
                <div class="icon__container">
                    <div class="icon --svg__age"></div>
                </div>
                <h3>Для детей и взрослых</h3>
                <span>Отлично подойдёт как для детей, так и для взрослых </span>
            </div>
            <div>
                <div class="icon__container">
                    <div class="icon --svg__family"></div>
                </div>
                <h3>Для семейных вечеров</h3>
                <span>Игра подходит для тёплых вечеров в кругу семьи</span>
            </div>
            <div>
                <div class="icon__container">
                    <div class="icon --svg__balloons"></div>
                </div>
                <h3>Компактная и удобная</h3>
                <span>Игра поставляется в маленькой жестяной коробке, поэтому вы легко можете брать её с собой</span>
            </div>
            <div>
                <div class="icon__container">
                    <div class="icon --svg__care"></div>
                </div>
                <h3>Рекомендована психологами</h3>
                <span>В игровой форме развивает внимание, реакцию и вовлеченность в процесс</span>
            </div>
            <div>
                <div class="icon__container">
                    <div class="icon --svg__laugh"></div>
                </div>
                <h3>Веселая, не надоедает</h3>
                <span>Благодаря своей механике, игра не надоедает. В неё хочется играть снова и снова</span>
            </div>
        </div>
    </div>
    <div class="--svg__dobbly2"></div>
    <div class="--svg__dobbly2ellipse"></div>
</div>