<footer class="footer__wrapper wrapper">
    <nav class="nav container">
        <div class="logo__container">
            <div class="nav__logo --svg__logo_footer"></div>
        </div>
      <ul class="nav__list">
        <li class="buyLink"><a href="#">Доббль</a></li>
        <li class="rulesLink"><a href="#">Об игре</a></li>
        <li class="featuresLink"><a href="#">Преимущества</a></li>
        <li class="benefitsLink"><a href="#">Польза настольных игр</a></li>
        <li class="reviewsLink"><a href="#">Отзывы</a></li>
        <li class="questionsLink"><a href="#">Вопросы</a></li>
      </ul>
      <div class="btn btn-buy"><div class="icon --svg__cart"></div>Заказать</div>
    </nav>
    <a href="http://marketgo.agency" target="_blank" class="footer">
      Разработано в агентстве <span>MarketGO</span>
    </a>
  </footer>