<header class="wrapper header__wrapper" id="dobble">
    <div class="container header">
        <div class="header__block">
            <div class="icon --svg__header_cloud1"></div>
            <div class="icon --svg__header_cloud2"></div>
            <div class="img clouds"></div>
            <div class="img disks"></div>
            <h1>Присоединяйтесь к игре!<div class="--svg__star"></div></h1>
            <p class="pUnderTitle">Доббль – это интересная настольная игра для всей семьи</p>
            <div class="btn buyLink">Выбрать магазин</div>
        </div>
        <div class="header__icons">
            <div>
                <div class="icon__container">
                    <div class="icon --svg__trade"></div>
                </div>
                <span>выпускается уже 12 лет</span>
            </div>
            <div>
                <div class="icon__container">
                    <div class="icon --svg__gift"></div>
                </div>
                <span>продано 21 миллион штук</span>
            </div>
            <div>
                <div class="icon__container">
                    <div class="icon --svg__girl"></div>
                </div>
                <span>для детей от 6 лет и взрослых</span>
            </div>
        </div>
    </div>
</header>
