<div class="wrapper nav__wrapper">
    <div class="nav container">
        <div class="logo --svg__logo"></div>
        <nav>
            <ul>
                <li><a href="#">Test</a></li>
                <li><a href="#">Об игре</a></li>
                <li><a href="#">Преимущества</a></li>
                <li><a href="#">Польза настольных игр</a></li>
                <li><a href="#">Отзывы</a></li>
                <li><a href="#">Вопросы</a></li>
            </ul>
            <div class="btn btn-buy"><div class="icon --svg__cart"></div>Заказать</div>
        </nav>
    </div>
</div>