<div class="wrapper nav__wrapper">
    <div class="nav container">
        <div class="logo --svg__logo"></div>
        <nav>
            <ul>
                <li class="buyLink"><a href="#">Приобрести</a></li>
                <li class="rulesLink"><a href="#">Об игре</a></li>
                <li class="featuresLink"><a href="#">Преимущества</a></li>
                <li class="benefitsLink"><a href="#">Польза настольных игр</a></li>
                <li class="reviewsLink"><a href="#">Отзывы</a></li>
                <li class="questionsLink"><a href="#">Вопросы</a></li>
            </ul>
            <div class="btn btn-buy buyLink"><div class="icon --svg__cart"></div>Заказать</div>
            <div class="burger">
                <div class="burger__icon"></div>
            </div>
        </nav>
    </div>
    <div class="mobileNav__wrapper hidden">
        <ul>
            <li class="buyLink"><a href="#">Приобрести</a></li>
            <li class="rulesLink"><a href="#">Об игре</a></li>
            <li class="featuresLink"><a href="#">Преимущества</a></li>
            <li class="benefitsLink"><a href="#">Польза настольных игр</a></li>
            <li class="reviewsLink"><a href="#">Отзывы</a></li>
            <li class="questionsLink"><a href="#">Вопросы</a></li>
        </ul>
    </div>
</div>