<div class="wrapper nav__wrapper">
    <div class="nav container">
        <div class="logo --svg__logo"></div>
        <nav>
            <ul>
                <li class="active"><a href="#"><div class="icon icon1 --svg__underline"></div>Приобрести</a></li>
                <li><a href="#"><div class="icon icon2 --svg__underline"></div>Об игре</a></li>
                <li><a href="#"><div class="icon icon3 --svg__underline"></div>Преимущества</a></li>
                <li><a href="#"><div class="icon icon4 --svg__underline"></div>Польза настольных игр</a></li>
                <li><a href="#"><div class="icon icon5 --svg__underline"></div>Отзывы</a></li>
                <li><a href="#"><div class="icon icon6 --svg__underline"></div>Вопросы</a></li>
            </ul>
            <div class="btn btn-buy"><div class="icon --svg__cart"></div>Заказать</div>
            <div class="burger">
                <div class="burger__icon"></div>
            </div>
        </nav>
    </div>
    <div class="mobileNav__wrapper hidden">
        <ul>
            <li class="active"><a href="#"><div class="icon icon1 --svg__underline"></div>Приобрести</a></li>
            <li><a href="#"><div class="icon icon2 --svg__underline"></div>Об игре</a></li>
            <li><a href="#"><div class="icon icon3 --svg__underline"></div>Преимущества</a></li>
            <li><a href="#"><div class="icon icon4 --svg__underline"></div>Польза настольных игр</a></li>
            <li><a href="#"><div class="icon icon5 --svg__underline"></div>Отзывы</a></li>
            <li><a href="#"><div class="icon icon6 --svg__underline"></div>Вопросы</a></li>
        </ul>
    </div>
</div>