<div class="questions__wrapper wrapper" id="questions">
    <h2>Частые вопросы</h2>
    <p>Мы готовы ответить на любые ваши вопросы</p>
    <div class="questions container">
        <div> 
            <div class="questions__question question">
                <div class="question__title active"><span>Что такое Dobble (Доббль)?</span></div>
                <div class="question__text">
                    <div>
                        <p>Это увлекательная настольная игра, для которой существует, как минимум, пять официальных правил мини игры и классическая версия Доббль – это поиск на двух карточках какого-то одного схожего символа: по форме, цвету, только размеры символов могут отличаться.</p>
                    </div>
                </div>
            </div>

            <div class="questions__question question">
                <div class="question__title"><span>На какой возраст рассчитана эта игра?</span></div>
                <div class="question__text hidden">
                    <div>
                        <p>Настольная игра Dobble (Доббль) рекомендована для возраста от 6 лет и старше. Играя всей семьей, вы поможете ребенку не только развить свои коммуникационные навыки, но и сблизиться с ним, интересно и с пользой проводя досуг. 
                            Психологи рекомендуют пробовать игру Доббль уже с трёх лет, при этом играть по упрощённой схеме. Игра помогает в развитии детей любого возраста.</p>
                    </div>
                </div>
            </div>

            <div class="questions__question question">
                <div class="question__title"><span>Как отличить оригинальный Доббль (Dobble) от подделки? </span></div>
                <div class="question__text hidden">
                    <div>
                        <p>Производителем игры является издательство Asmodee, мы является официальным дистрибьютором. На рынке предлагается множество вариантов игры, являющихся неофициальной копией, а также товаров, предлагаемых для покупки от неофициальных дистрибьюторов. Покупая у нас, вы можете быть уверены в качестве и подлинности товара. - это вроде не совсем ответ на вопрос. официальная версия игры должна иметь русскоязычное лого Доббль на упаковке, а также продаваться в удобной жестяной баночке.</p>
                    </div>
                </div>
            </div>

            <div class="questions__question question">
                <div class="question__title"><span>На сколько легко разобраться в игре?</span></div>
                <div class="question__text hidden">
                    <div>
                        <p>На то, чтобы начать играть, хватит и нескольких минут. Правила очень простые, именно поэтому игра подходит и для детей и для взрослых.
                            В комплект игры входит инструкция на русском языке. Это простая и увлекательная настольная игра, для которой можно придумывать свои правила, играть в классическую версию или в одну из пяти мини игр.
                            </p>
                    </div>
                </div>
            </div>

        </div>
        <div>
            <div class="questions__question question">
                <div class="question__title"><span>Что такое мини-игра, чем она отличается от классического Доббль?</span></div>
                <div class="question__text hidden">
                <div>
                    <p>Есть несколько вариантов игры в Доббль, они отличаются небольшими деталями, и позволяют разнообразить игровой процесс. Подробнее о правилах вы можете прочитать в инструкции к игре.</p>
                </div>
                </div>
            </div>

            <div class="questions__question question">
                <div class="question__title"><span>На сколько игроков рассчитана игра?</span></div>
                <div class="question__text hidden">
                    <div>
                        <p>В настольную игру Доббль (Dobble) могут играть от 2 до 8 человек.</p>
                    </div>
                </div>
            </div>

            <div class="questions__question question">
                <div class="question__title"><span>Что входит в комплект игры?</span></div>
                <div class="question__text hidden">
                <div>
                    <p>Приобретая оригинальную версию игры Dobble (Доббль), вы получаете круглую металлическую коробку, в которой находятся 55 карточек из плотного картона для игры и инструкция на русском языке.</p>
                </div>
                </div>
            </div>

            <div class="questions__question question">
                <div class="question__title"><span>Для чего предназначена эта игра и в чем ее преимущества?</span></div>
                <div class="question__text hidden">
                <div>
                    <p>Настольная игра Доббль (Dobble) позволяет развивать логические, коммуникационные навыки ребенка, а также улучшить скорость реакции, внимательность, функцию моторики рук. Игра получила рекомендации от детских психологов, педиатров и логопедов. Имеет многочисленные награды: Spring Parents' Choice Silver Honor — 2014, Ludoteca Ideale Children's Games — 2013, Hra roku — 2012, Japan Boardgame Prize U-more Award — 2012, Gouden Ludo — 2011, Lys Enfant — 2010. Во всём мире продано уже более 21 миллиона игр.
                    </p>
                </div>
                </div>
            </div>

            <div class="questions__question question">
                <div class="question__title"><span>У меня другой вопрос. Как можно с вами связаться?</span></div>
                <div class="question__text hidden">
                <div>
                    <p>Напишите нам на почту <a href="mailto:mail@lifestyleltd.ru" target="_blank">mail@lifestyleltd.ru</a>, мы с радостью ответим на ваши вопросы.</p>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>