<div class="reviews__wrapper wrapper" id="reviews">
  <div class="reviews container">
    <h2>Опыт других игроков</h2>
    <p>Посмотрите, что говорят покупатели, которые уже попробовали нашу игру</p>
    <div class="reviews__slick slick">
      <div class="slick__elem">
        <div><img src="#" alt="1"></div>
      </div>
      <div class="slick__elem">
        <div><img src="#" alt="2"></div>
      </div>
      <div class="slick__elem">
        <div><img src="#" alt="3"></div>
      </div>
      <div class="slick__elem">
        <div><img src="#" alt="3"></div>
      </div>
      <div class="slick__elem">
        <div><img src="#" alt="3"></div>
      </div>
      <div class="slick__elem">
        <div><img src="#" alt="3"></div>
      </div>
      <div class="slick__elem">
        <div><img src="#" alt="3"></div>
      </div>
    </div>
  </div>
</div>