<div class="rules__wrapper wrapper">
    <div class="rules container">
        <div class="rules__block">
            <h2>Доббль – простая игра для взрослых и детей</h2>
            <p>Коротко о правилах игры</p>
        </div>
        <div class="rules__icons">
            <div>
                <div class="icon__container">
                    <div class="icon --svg__trade"></div>
                </div>
                <span><b>Доббль</b> – это игра на скорость и наблюдательность для всей семьи.</span>
            </div>
            <div>
                <div class="icon__container">
                    <div class="icon --svg__gift"></div>
                </div>
                <span><b>Цель игры?</b><br>Каждая из двух карт имеет один общий символ. Будьте первым, кто найдет и назовет его, чтобы выиграть карту.</span>
            </div>
            <div>
                <div class="icon__container">
                    <div class="icon --svg__girl"></div>
                </div>
                <span><b>Смотрите короткое видео и присоеденяйтесь к игре</b></span>
            </div>
            <div>
                <div class="icon__container">
                    <div class="icon --svg__girl"></div>
                </div>
                <span><b>Доббль</b> – игра на тренировку внимания с 5  вариантами игры.</span>
            </div>
        </div>

        <div class="rules__bottom">
            <div class="img family"></div>
        </div>
    </div>
    <div class="img trees"></div>
</div>