<div class="rules__wrapper wrapper" id="rules">
    <div class="icon circle1 --svg__circle"></div>
    <div class="icon circle2 --svg__circle"></div>
    <div class="img trees"></div>
    <div class="rules container">
        <div class="rules__block">
            <h2>Доббль – простая игра для взрослых и детей</h2>
            <p>Коротко о правилах игры</p>
        </div>
        <div class="rules__icons">
            <div class="--svg__rules_text1">
                <div class="icon__container">
                    <div class="icon --svg__dobbly1"></div>
                </div>
                <span><b>Доббль</b> – это игра на скорость и наблюдательность для всей семьи.</span>
            </div>
            <div class="--svg__rules_text2">
                <div class="icon__container">
                    <div class="icon --svg__dice"></div>
                    <div class="icon --svg__highlight1"></div>
                </div>
                <span>
                    <b>Цель игры?</b>
                    <p>Каждая из двух карт имеет один общий символ. Будьте первым, кто найдет и назовет его, чтобы выиграть карту.</p>
                </span>
            </div>
            <div class="--svg__rules_text3">
                <div class="icon__container">
                    <div class="icon --svg__play_ellipse"></div>
                    <div class="icon --svg__highlight2"></div>
                    <div class="icon --svg__play_ellipse_border"></div>
                    <div class="icon --svg__play"></div>
                </div>
                <span><b>Смотрите короткое видео и присоеденяйтесь к игре</b></span>
            </div>
            <div class="--svg__rules_text4">
                <div class="icon__container">
                    <div class="icon --svg__rules_ellipse">5</div>
                    <div class="icon --svg__rules_ellipse_border"></div>
                    <div class="icon --svg__stars"></div>
                </div>
                <span><b>Доббль</b> – игра на тренировку внимания с 5  вариантами игры.</span>
            </div>
        </div>

        <div class="rules__bottom">
        </div>
    </div>
    <div class="videoPopup hidden">
        <div class="videoPopup__close">&#215;</div>
        <div class="videoPopup__block container">
            <h2>Как играть в Доббль</h2>
            <video src="video/video.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' controls></video>
        </div>
    </div>
</div>